<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flight Finder</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/photon-0.1.2-dist/css/photon.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auto-complete.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flightfinderstyle.css') }}">
    </head>
    <body>
        <div class="window">
            <div class="window-content">
                <div class="pane-group">
                    <div class="pane left-pane">
                        <div class="slide">
                            <div class="title-pane">
                                <div style="display: inline-block;">
                                    <img alt="Flight Finder Logo" src="../static/resources/ico-white-2k.png" style="max-width: 256px; margin-top: 80px;">
                                </div>
                                <h2>Flight Finder</h2>
                                <h3 style="margin-top: 20px; word-break: break-word; white-space:normal;">Finding you the cheapest getaway destinations</h3>
                            </div>
                            <div class="quote-pane">
                                <h2>Quotes</h2>
                            </div>
                        </div>
                    </div>
                    <div class="pane right-pane">
                        <span style="float: right" class="icon icon-menu"></span>
                        <h2 style="margin-top: 40px;">Getting Started</h2>
                        <form>
                            <div class="form-group">
                                <label for="port-outbound">Port of Departure</label>
                                <input class="form-control" type="text" id="port-outbound" placeholder="e.g London Gatwick" tabindex="1">
                            </div>
                            <div class="form-group">
                                <label for="date-outbound">Date of Departure</label>
                                <input class="form-control" type="text" id="date-outbound" placeholder="06/10/2019">
                            </div>
                            <div class="form-group">
                                <label for="earliest-time-outbound">Earliest Time of Departure</label>
                                <input class="form-control" type="datetime-local" id="earliest-time-outbound" placeholder="12:00 PM">
                            </div>
                            <div class="form-actions">
                                <button type="button" class="btn btn-large btn-ff" onclick="postInputs()">Get Results</button>
                            </div>
                        </form>
                    </div>
                </div>
<!--                <div style=";" class="pane-sm side-menu">...</div>-->
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/auto-complete.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

<!--        Date picker code-->
        <script src="{{ url_for('static', filename='js/datepicker.min.js') }}"></script>
        <script>
            datepicker('#dateOutbound', {
                minDate: new Date()
            });
        </script>
    </body>
</html>