<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flight Finder</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/photon-0.1.2-dist/css/photon.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auto-complete.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flightfinderstyle.css') }}">
    </head>
    <body>
        <div class="window">
            <div class="window-content">
                <div class="pane-group">
                    <div class="pane left-pane">
                        <div class="slide">
                            <div class="title-pane">
                                <div>
                                    <img alt="Flight Finder Logo" src="../static/resources/ico-white-2k.png">
                                </div>
                                <h2>Flight Finder</h2>
                                <h3>Finding you the cheapest getaway destinations</h3>
                            </div>
                            <div class="quote-pane">
                                <h2>Quotes</h2>
                                <div id="quote-list"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pane right-pane">
                        <div class="side-menu">
                            <input id="menu-toggle" type="checkbox" />

                            <span></span>
                            <span></span>
                            <span></span>

                            <form id="menu">
                                <div class="form-group">
                                    <label for="select-locale">Select Locale</label>
                                    <select class="form-control" id="select-locale">
                                         <option value="en-GB">English-UK</option>
                                         <option value="en-US">English-US</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="select-currency">Select Currency</label>
                                    <select class="form-control" id="select-currency">
                                         <option value="GBP">Pound Sterling</option>
                                         <option value="USD">US Dollar</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <form>
                            <h2>Getting Started</h2>
                            <div class="form-group">
                                <label for="port-outbound">Port of Departure</label>
                                <input class="form-control" type="text" id="port-outbound" placeholder="e.g London Gatwick" tabindex="1">
                            </div>
                            <div class="form-group">
                                <label for="date-outbound">Date of Departure</label>
                                <input class="form-control" type="text" id="date-outbound" placeholder="06/10/2019">
                            </div>
                            <div class="form-group">
                                <label for="earliest-time-outbound">Earliest Time of Departure</label>
                                <input class="form-control" type="datetime-local" id="earliest-time-outbound" placeholder="12:00 PM">
                            </div>
                            <div class="form-actions">
                                <button type="button" class="btn btn-large btn-ff" onclick="postInputs()">Get Results</button>
                                <p id="error-message">Please ensure you select an airport or location from the drop down menu</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/auto-complete.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>