<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Flight Finder</title>

         <link rel="stylesheet" href="{{ url_for('static', filename='css/photon-0.1.2-dist/css/photon.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <style>

        </style>
    </head>
    <body>
        <div class="window">
          <div class="window-content">
            <div class="pane-group">
              <div class="pane leftPane">
                  <div style="display: inline-block;">
                      <img alt="Flight Finder Logo" src="../static/resources/ico-white-2k.png" style="max-width: 256px; margin-top: 80px;">
                  </div>
                  <h2>Flight Finder</h2>
                  <h3 style="margin-top: 20px; word-break: break-word; white-space:normal;">Finding you the cheapest getaway destinations</h3>
              </div>
              <div class="pane rightPane">
                  <h2 style="margin-top: 40px;">Getting Started</h2>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>